.currenPage {
  width: 30px;
  background-color: rgb(60, 60, 219);
  color: #fff;
  padding: 5px 11px;
  border-radius: 100%;
  cursor: pointer;
}

.page:hover {
  background-color: rgb(60, 60, 219);
  color: #fff;
}

.page {
  width: 30px;
  padding: 5px 9px;
  border-radius: 100%;
  border: 1px solid rgb(60, 60, 219);
  cursor: pointer;
}
